body {
  font-family: Roboto;
}

div.container {
  position: relative;
  top: 33%;
  margin: 0 auto;
  width: 500px;
  height: 300px;
  border: solid 1px;
  border-radius: 2px;
  transition: height 0.2s;
}

.tab-container {
  display: flex;
  list-style-type: none;
  align-items: center;
  padding: 0;
  margin: 0;
}

.tab {
  position: relative;
  width: 248px;
  height: 30px;
  border-radius: 1px;
  background-color: #a3c3f7;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
  margin: 1px;
  font-size: 18px;
  user-select: none;
}

.tab:hover {
  background-color: #2f73e0;
}

.selected {
  background-color: #2f73e0;
}

.input-wrapper {
  width: 200px;
  font-weight: bold;
  font-size: 14px;
}

.login {
  margin: 35px auto;
}

.register {
  margin: 25px auto;
}

input.creds {
  display: block;
  margin: 1px;
  width: 200px;
  font-weight: 500;
  border-radius: 5px;
  border: 1px solid;
  border-color: #bcbcbc;
  padding: 0.4em;
}

.button {
  margin: 10px 40px;
  width: 120px;
  height: 30px;
  font-weight: bold;
  font-size: 16px;
  border-radius: 15px;
  border-color: transparent;
  background-color: #a3c3f7;
}
.button:hover {
  background-color: #2f73e0;
}

.warning {
  font-size: 10px;
  color: #f7404c;
  position: absolute;
}

.avatar {
  position: relative;
  object-fit: cover;
  height: 200px;
  width: 200px;
  margin: 15px;
}
.avatar:hover {
  margin: 13px;
  border: 2px solid;
  border-color: #979c9c;
}

.logout {
  position: absolute;
  top: 5px;
  right: -15px;
}
